body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* blocco prima riga header  */
.rowheaderbar_1{
  width: 100%;
  height: 60px;
  background: rgb(5, 17, 101);
}

.rowheaderbar_1{
  content: "";
  display: table;
  clear: both;
}

/* divisione in blocchi colonna prima riga in float */

.rowheaderbar_1 .logo{
  float: left;
  width: 20%;
  height: 60px;
  margin-left: 10%;
  background-image: url("../img/logopiccolo.png");
  background-repeat: no-repeat;
  background-size: 14%;
  background-position: 10px 10px;

}
.rowheaderbar_1 .barraricerca{
  float: left;
  width: 40%;
  height: 60px;
}

/*navbar*/


.rowheaderbar_1 .ricerca{
  float: left;
  width: 20%;
  height: 60px;
  margin-left: 10%;

}
.infomenu{
  width: 100%;
}
.infomenu {
  content: "";
  display: table;
  clear: both;
}

.infomenu .elementiinfomenu{
  float: left;
  width: 25%;
}



.barraricerca > ul > li > a{
  color: white;
}


/* fine prima riga*/

/*inizio seconda riga*/
.rowheaderbar_2{
  width: 100%;
  height: 60px;
  background-color: grey;

}

.rowheaderbar_2{
  content: "";
  display: table;
  clear: both;
}

.rowheaderbar_2 .globe{
  float: left;
  width: 10%;
  height: 50px;
  margin-left: 10%;
  margin-top: 10px;

}
.rowheaderbar_2 .numvendita{
  float: left;
  width: 10%;
  height: 50px;
  margin-top: 10px;

}

.rowheaderbar_2 .hubbar{
  float: left;
  width: 10%;
  margin-left: 55%;
  margin-right: 5%;
  height: 50px;
  margin-top: 10px;

}



/*fine seconda riga di testa*/

/*blocco 3 riga*/
.rowheaderbar_3{
  width: 100%;
  height: 50px;
  background: white;

}

.rowheaderbar_3::after{
  content: "";
  display: table;
  clear: both;
}

.rowheaderbar_3 .logolettere{
  float: left;
  width: 30%;
  height: 50px;
  margin-left: 10%;
  margin-top: 10px;
  background-image: url("../img/Logo - Full (Color).svg");
  background-repeat: no-repeat;
  background-size: 35%;


}

.rowheaderbar_3 .pannelloinfo{
  float: left;
  width: 60%;
  height: 50px;
}

/*fine 3 riga di testa*/
.presentation{
  width: 100%;
  height: 440px;
  background: url("../img/header-bg (2).jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.presentation{
  content: "";
  display: table;
  clear: both;
}



.presentationsx{
  float: left;
  width: 30%;
  margin-left: 10%;
  margin-top: 10%;

}
.presentationdx{
  float: left;
  width: 30%;
  /*height: 100px;*/

}
/*inizio dei 3 blocchi principali*/

/*blocco powerful together*/
.insieme{
  width: 100%;
  height: 380px;
  background: rgb(211, 234, 232);
}
.rowtogetherup{
  width: 100%;
  background: url("../img/powerfulimg.png");
  background-repeat: no-repeat;
  background-size: 18%;
  height: 200px;
  margin-left: 50%;
}
.togethertext{
  width: 50%;
  margin-left: 30%;
  margin-right: 15%;
}
.rowtogetherdown{
  position: absolute;
  height: 200px
}
/*blocco crm*/

.crm{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  height: 500px;
}

.crm::after{
  content: "";
  display: table;
  clear: both;
}
.crmsx{
  float: left;
  width: 40%;
  background: red;/*debug*/
  height: 200px;/*debug*/

}

.crmdx{
  float: left;
  width: 60%;
  background: blue;/*debug*/
  height: 200px;/*debug*/
}
/*blocco shopify*/
.businesshubspot{
  width: 100%;
  height: 400px;
  }

.businesshubspot::after{
  content: "";
  display: table;
  clear: both;
  }

  .businesshubspotdx{
    float: left;
    width: 45%;
    height: 100px;
    margin-left: 5%;
    }

 .hubspotcustomer{
   width: 200px;
   margin-top:10px;
   margin-left: 100px;

 }
 .hubspotcustomer > h2{
   color:rgb(41, 43, 38);
 }

 .hubspotcustomer > h4{
   color:rgba(46, 58, 65, 0.98)
 }



/*blocco con la foto della donna*/

.fotodonna{
  width: 100%;
  height: 400px;
  }

.fotodonna::after{
  content: "";
  display: table;
  clear: both;
  }

.fotodonnasx{
  float: left;
  width: 45%;
  height: 100px;
  margin-left: 5%;
  }

  .invitoiscrizione > h2{
    color:rgb(41, 43, 38);
  }

  .invitoiscrizione > h4{
    color:rgba(46, 58, 65, 0.98)
  }

  .invitoiscrizione > a{
    display: inline-block;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: orange;
    color: white;

  }



  .fotodonnadx{
    float: left;
    width: 50%;
    height: 100px;
    position: relative;
  }

  .fotodonnadx .donna{
    border: 3px solid red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%);
  }


/*inizio footer*/

.finepag{
  width: 100%;
  /*height: 100px;*/
  background: rgb(27, 47, 119);

}

.footcoloumn{
  width: 100%;
  background: rgb(27, 47, 119);



}

.footcoloumn::after{
  content: "";
  display: table;
  clear: both;
}

/* blocco 4 colonne superiori footer*/

.footcol1{
  float: left;
  width: 20%;
  margin-top: 2%;
  margin-left: 10%;

}


.footcol2{
  float: left;
  width: 20%;
  height: 100px;
}

.footcol3{
  float: left;
  width: 20%;
  height: 100px;
}

.footcol4{
  float: left;
  width: 20%;
  height: 100px;
}
/*inizio righe footer*/

.footrow1{
  height: 50px;
  width: 100%;
  background: rgb(27, 47, 119);
}

.footrow1 > a{
  display: inline-block;
  margin-left: 73%;
  padding:5px 5px;
  border: 2px solid grey;
  border-radius: 3px;
  background: white;
}
.footrowsocial{
  width: 100%;
  border-bottom: 1px solid grey;
  background: rgb(27, 47, 119);
}

.social{
  width: 45%;
  margin-left: 55%;
}

.social::after {
  content: "";
  display: table;
  clear: both;
}

.social .elementosocial{
  float: left;
  width: 20%;
}

.footrow3{
  height: 50px;
  width: 100%;
  background: rgb(27, 47, 119);

}

.lingue{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.lingue::after {
  content: "";
  display: table;
  clear: both;
}

.lingue .elementlingue{
  float: left;
  width: 20%;
}

.footrow4{
  height: 50px;
  width: 100%;
  background: rgb(27, 47, 119);
}

.footrow4{
  content: "";
  display: table;
  clear: both;
}

.footrow4 .copyright{
  float: left;
  width: 50%;
  background: red;
}

.footrow4 .privacy{
  float: left;
  width: 50%;

}
